.btn(@backgroundColor; @textColor;) {
    padding: 1rem;
    text-align: center;
    font-size: 1.6rem;
    color: @textColor;
    border-radius: 10px;
    width: 100%;
    background: @backgroundColor;
}
